.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 96px 50px 100px;
}

/* .header__menu {

} */

.header__links-list {
  display: flex;
  justify-content: space-evenly;
  gap: 13px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

/* Ссылка должна занимать только нужное пространство */

.header__link {
  align-items: flex-start;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
}

.header__address {
  max-width: 240px;
  justify-self: end;
}

.cover {

}

.overlay {

}

.cover__title {

}

.aligned-text {

}

.aligned-text_left {

}

.aligned-text_center {

}

.aligned-text_right {

}

.letter-spacing-extended {

}

.no-letter-spacing {

}

.cover__description {

}

.cover__description-text {

}

.bet-button {

}

.lots {
    
}

.lots__heading {

}

.lots__card-list {

}

.lots__card-list-item {

}

.lots__card-link {

}

.card {

}

.card_type_film {

}

.card_type_book {

}

.card_type_picture {

}

.card__title {

}

.card__text {

}

.lots__look-more-link {

}

.about {

}

.about__column {

}

.about__logo {

}

.about__logo-image {

}

.about__title {

}

.about__text {

}

.footer {

}

.footer__menu {

}

.footer__menu-list {

}

.footer__menu-list-item {

}

.footer__menu-list-item_active {

}

.footer__social-list {

}

.footer__social-list-item {

}

.footer__social-link {

}

.footer__social-icon {

}